USE [QLSV]
GO
/****** Object:  Table [dbo].[LOP]    Script Date: 12/10/2021 10:10:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOP](
	[MALOP] [varchar](20) NOT NULL,
	[TENLOP] [nvarchar](100) NOT NULL,
	[MANV] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 12/10/2021 10:10:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [varchar](20) NOT NULL,
	[HOTEN] [nvarchar](100) NOT NULL,
	[EMAIL] [varchar](20) NULL,
	[LUONG] [varbinary](max) NULL,
	[TENDN] [nvarchar](100) NOT NULL,
	[MATKHAU] [varbinary](max) NOT NULL,
	[FLAG] [bit] NULL,
 CONSTRAINT [PK__NHANVIEN__6022825628EDF190] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 12/10/2021 10:10:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[MASV] [nvarchar](20) NOT NULL,
	[HOTEN] [nvarchar](100) NOT NULL,
	[NGAYSINH] [datetime] NULL,
	[DIACHI] [nvarchar](200) NULL,
	[MALOP] [varchar](20) NULL,
	[TENDN] [nvarchar](100) NOT NULL,
	[MATKHAU] [varbinary](max) NOT NULL,
	[FLAG] [bit] NULL,
 CONSTRAINT [PK__SINHVIEN__60228A285A1290F6] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [EMAIL], [LUONG], [TENDN], [MATKHAU], [FLAG]) VALUES (N'NV01', N'Tran Quoc Truong', N'n18dcat100@', 0x00506CD979B20944A9A640635EEBD20E020000006CC5F74726F13D21D115479F85B093AF76F8A5354BEB558F9CC57D424FFD79ED1AB26FD0AEBD4FC2C7D59025E304C90F, N'qwertytrg', 0x0C6D47A02431F6D346DC9CBCE7219174CF1A47D8, 1)
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD  CONSTRAINT [FK_LOP_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [FK_LOP_NHANVIEN]
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_SINHVIEN_LOP] FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [FK_SINHVIEN_LOP]
GO
/****** Object:  StoredProcedure [dbo].[insert_nhanvien]    Script Date: 12/10/2021 10:10:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[insert_nhanvien]
	@MANV varchar(20),
	@HOTEN nvarchar(100),
	@EMAIL varchar(20),
	@LUONG varbinary(MAX),
	@TENDN nvarchar(100),
	@MATKHAU varbinary(MAX),
	@FLAG bit
as
	insert into NHANVIEN
	values(@MANV, @HOTEN, @EMAIL, @LUONG, @TENDN, @MATKHAU, @FLAG)
GO
/****** Object:  StoredProcedure [dbo].[insert_sinhvien]    Script Date: 12/10/2021 10:10:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[insert_sinhvien]
	@MASV nvarchar(20),
	@HOTEN nvarchar(100),
	@NGAYSINH datetime,
	@DIACHI nvarchar(200),
	@MALOP varchar(20),
	@TENDN nvarchar(100),
	@MATKHAU varbinary(MAX),
	@FLAG bit
as
	insert into SINHVIEN
	values(@MASV, @HOTEN, @NGAYSINH, @DIACHI, @MALOP, @TENDN, @MATKHAU, @FLAG)
GO
/****** Object:  StoredProcedure [dbo].[load_table_nhanvien]    Script Date: 12/10/2021 10:10:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[load_table_nhanvien]
as
	open symmetric key myKey_AES_256 decryption by password = '123456'

	select MANV, HOTEN, EMAIL,
	case 
		when FLAG = 1 then CONVERT(varbinary, DECRYPTBYKEY(LUONG))
		when FLAG = 0 then LUONG
	end as LUONGCB, TENDN, FLAG
	from NHANVIEN

	close symmetric key myKey_AES_256
GO
/****** Object:  StoredProcedure [dbo].[SP_INS_ENCRYPT_NHANVIEN]    Script Date: 12/10/2021 10:10:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_INS_ENCRYPT_NHANVIEN]
	@MAVN VARCHAR(20),
	@HOTEN NVARCHAR(100),
	@EMAIL VARCHAR(20),
	@LUONG VARBINARY(MAX),
	@TENDN NVARCHAR(100),
	@MATKHAU VARBINARY(MAX)
AS
	INSERT INTO NHANVIEN VALUES 
	(@MAVN, @HOTEN, @EMAIL, @LUONG, @TENDN, @MATKHAU)
GO
/****** Object:  StoredProcedure [dbo].[SP_INS_ENCRYPT_SINHVIEN]    Script Date: 12/10/2021 10:10:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_INS_ENCRYPT_SINHVIEN] 
	@MASV NVARCHAR(20), 
	@HOTEN NVARCHAR(100), 
	@NGAYSINH DATETIME ,
	@DIACHI NVARCHAR(200), 
	@MALOP VARCHAR(20), 
	@TENDN NVARCHAR(100), 
	@MATKHAU VARBINARY(MAX)
AS
	INSERT INTO SINHVIEN
	VALUES (@MASV, @HOTEN, @NGAYSINH, @DIACHI, @MALOP, @TENDN, @MATKHAU)
GO
/****** Object:  StoredProcedure [dbo].[SP_INS_SINHVIEN]    Script Date: 12/10/2021 10:10:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_INS_SINHVIEN] @MASV NVARCHAR(20), @HOTEN NVARCHAR(100), @NGAYSINH DATETIME ,
							@DIACHI NVARCHAR(200), @MALOP VARCHAR(20), @TENDN NVARCHAR(100), 
							@MATKHAU NVARCHAR(50)
AS 
INSERT INTO SINHVIEN
VALUES (@MASV, @HOTEN, @NGAYSINH, @DIACHI, @MALOP, @TENDN, HASHBYTES('MD5', @MATKHAU))

GO
/****** Object:  StoredProcedure [dbo].[SP_SEL_ENCRYPT_NHANVIEN]    Script Date: 12/10/2021 10:10:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_SEL_ENCRYPT_NHANVIEN] 
AS
	SELECT MANV, HOTEN, EMAIL, LUONG
	FROM NHANVIEN
GO
/****** Object:  StoredProcedure [dbo].[SP_SEL_NHANVIEN]    Script Date: 12/10/2021 10:10:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_SEL_NHANVIEN] 
AS
	OPEN SYMMETRIC KEY myKey_AES_256 DECRYPTION BY PASSWORD = '123456'

	SELECT MANV, HOTEN, EMAIL, CONVERT(NVARCHAR, DECRYPTBYKEY(LUONG)) AS LUONGCB
	FROM NHANVIEN

	CLOSE SYMMETRIC KEY myKey_AES_256
GO
/****** Object:  StoredProcedure [dbo].[update_nhanvien]    Script Date: 12/10/2021 10:10:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[update_nhanvien]
	@MANVcu varchar(20),
	@MANVmoi varchar(20),
	@HOTEN nvarchar(100),
	@EMAIL varchar(20),
	@LUONG int,
	@TENDN nvarchar(100),
	@MATKHAU varchar(max),
	@FLAG bit
as
	declare @luongMahoa varbinary(max)
	open symmetric key myKey_AES_256 decryption by password = '123456'
	set @luongMahoa = ENCRYPTBYKEY(KEY_GUID('myKey_AES_256'), CONVERT(nvarchar, @LUONG))
	close symmetric key myKey_AES_256

	declare @matkhauHashed varbinary(max)
	set @matkhauHashed = HASHBYTES('SHA1', @MATKHAU)

	update NHANVIEN
	set MANV = @MANVmoi, HOTEN = @HOTEN, EMAIL = @EMAIL, LUONG = @luongMahoa, TENDN = @TENDN, MATKHAU = @matkhauHashed, FLAG = @FLAG
	where MANV = @MANVcu
GO
/****** Object:  StoredProcedure [dbo].[update_sinhvien]    Script Date: 12/10/2021 10:10:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[update_sinhvien]
	@MASVCu nvarchar(20),
	@MASV nvarchar(20),
	@HOTEN nvarchar(100),
	@NGAYSINH datetime,
	@DIACHI nvarchar(200),
	@MALOP varchar(20),
	@TENDN nvarchar(100),
	@MATKHAU varchar(MAX),
	@FLAG bit
as
	declare @matkhauHashed varbinary(max)
	set @matkhauHashed = HASHBYTES('SHA1', @MATKHAU)

	update SINHVIEN
	set MASV = @MASV, HOTEN = @HOTEN, NGAYSINH = @NGAYSINH, DIACHI = @DIACHI, MALOP = @MALOP, TENDN = @TENDN, MATKHAU = @matkhauHashed, FLAG = 1
	where MASV = @MASVCu
GO


CREATE SYMMETRIC KEY myKey_AES_256
WITH KEY_SOURCE = 'N18DCAT100',
ALGORITHM = AES_256
ENCRYPTION BY PASSWORD = '123456'
GO